* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Oswald";
  font-size: 12;
  color: white;
}
header {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 999;
  opacity: 95%;
}
header ::after {
  content: "";
  display: table;
  clear: both;
}
body {
  margin: 0;
  background-color: #222;
  font-weight: 300;
}
nav {
  float: right;
}
.navName {
  color: #fff;
  text-decoration: none;
  float: left;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 91.667%;
  padding-top: 25px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}
.navContainer {
  width: 80%;
  height: 64px;
  margin: 0 auto;
}
.container {
  display: grid;
  align-items: center; 
  justify-items: center;
  gap: 3px;
  grid-auto-flow: column;
}
.aboutParagraph {
  width: 525px;
  height: 163px;
  flex-shrink: 0;
  color: #c0c0c0;
  font-size: 20px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  line-height: 137.5%;
  background-color: rgba(0, 0, 0, 0);
}
title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.5%; /* 137.5% */
  text-transform: uppercase;
}
h2 {
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  text-transform: capitalize;
  position: relative;
  z-index: 10;
  display: block;
  font-size: 2em;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
}
h1 {
  color: #FFF;
  font-family: "Oswald";
  font-size: 87px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0);
}
.blueDot {
  color: #576CBC;
  font-size: 87px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0);
}
.scroll-button{
  color: #FFF;
  border-bottom: 2px solid #678691;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%; 
  text-decoration: none; 
}
.sidebox {
  position: relative;
  left: 108px;
  border: 220px;
  background-color: rgba(0, 0, 0, 0);
}
.aboutImage{
  width: 523px;
  height: 445px;
  flex-shrink: 0;
}
html {
  scroll-behavior: smooth;
}
.about-me-section,
.about-me-section * {
  box-sizing: border-box;
}
.about-me-section {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.about-me-left {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about-me {
  text-align: left;
  position: relative;
}
.about-me-span {
  color: #a5d7e8;
  font: var(--h-2, 700 37px/100% "Oswald", sans-serif);
}
.about-me-span2 {
  color: #576cbc;
  font: 700 27px/100% "Oswald", sans-serif;
}
.analytical-problem-solver {
  color: #ffffff;
  text-align: left;
  font: var(--h-1-main-heading, 700 87px/100% "Oswald", sans-serif);
  position: relative;
  width: 503px;
}
.about-me-description {
  color: #c0c0c0;
  text-align: left;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
  position: relative;
  width: 564px;
  height: 257px;
}

.what-i-do-section,
.what-i-do-section * {
  box-sizing: border-box;
}
.what-i-do-section {
  display: flex;
  flex-direction: column;
  gap: 53px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.what-i-do-info {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.what-i-do {
  text-align: left;
  position: relative;
}
.what-i-do-span {
  color: #a5d7e8;
  font: var(--h-2, 700 37px/100% "Oswald", sans-serif);
}
.what-i-do-span2 {
  color: #576cbc;
  font: 700 27px/100% "Oswald", sans-serif;
}
.strategy-design-and-a-bit-of-chess {
  color: #ffffff;
  text-align: center;
  font: 700 67px/100% "Oswald", sans-serif;
  position: relative;
  width: 1065px;
}
.what-i-do-context-boxes {
  display: flex;
  flex-direction: row;
  gap: 128px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.exploring-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.exploring-background {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 270px;
  height: 272px;
  position: relative;
}
.exploring-context {
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 32px;
  top: 15px;
}
.exploring-title {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.search {
  background-color: #d9d9d9;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.exploring {
  color: #000000;
  background-color: #d9d9d9;
  text-align: center;
  text-decoration: underline;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
  position: relative;
  width: 70.94px;
}
.exploring-list {
  color: #000000;
  list-style-type: none;
  text-align: center;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
  position: relative;
  width: 206px;
}
ul.exploring-list li{
  background-color: #d9d9d9;
  color: #000000;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
}
.creating-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.creating-background {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.creating-context {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 35px;
  top: 15px;
}
.creating-title {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.add-ring {
  background-color: #d9d9d9;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.creating {
  background-color: #d9d9d9;
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
  position: relative;
  width: 65.65px;
}
.creating-list {
  color: #000000;
  list-style-type: none;
  text-align: center;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
  position: relative;
  width: 206px;
}
ul.creating-list li{
  background-color: #d9d9d9;
  color: #000000;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
}
.learning-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.learning-background {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 270px;
  height: 272px;
  position: relative;
}
.learning-context {
  display: flex;
  background: #d9d9d9;
  flex-direction: column;
  gap: 31px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 30px;
  top: 18px;
}
.learning-title {
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.book-open-alt {
  background: #d9d9d9;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.learning {
  background: #d9d9d9;
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
  position: relative;
  width: 66.71px;
}
.learning-list {
  color: #000000;
  list-style-type: none;
  text-align: center;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
  position: relative;
  width: 206px;
}
ul.learning-list li{
  background-color: #d9d9d9;
  color: #000000;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
}

.projects-content,
.projects-content * {
  box-sizing: border-box;
}
.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 43px;
}
.projects {
  text-align: left;
  width: 100%;
  color: #a5d7e8;
  font: 700 47px/100% "Oswald", sans-serif;
}
.projects-span2 {
  color: #576cbc;
  font: 700 27px/100% "Oswald", sans-serif;
}
.project-images {
  flex-shrink: 0;
  width: 1065px;
  height: 324px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}
.rectangle-8 {
  background: #d9d9d9;
  border-radius: 20px;
  width: 345px;
  height: 324px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-9 {
  background: #d9d9d9;
  border-radius: 20px;
  width: 345px;
  height: 324px;
  position: absolute;
  left: 450px;
  top: 0px;
}
.rectangle-10 {
  background: #d9d9d9;
  border-radius: 20px;
  width: 345px;
  height: 324px;
  position: absolute;
  left: 900px;
  top: 0px;
}
.rectangle-11 {
  background: #d9d9d9;
  border-radius: 20px;
  width: 345px;
  height: 324px;
  position: absolute;
  left: 1350px;
  top: 0px;
}
.git-hub {
  border-style: solid;
  border-color: #678691;
  border-width: 0px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.my-git-hub {
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
  position: relative;
}
.itchio {
  border-style: solid;
  border-color: #678691;
  border-width: 0px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.my-itch-io {
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  font: var(--body-text, 400 20px/27.5px "Oswald", sans-serif);
  position: relative;
}


.contact-section,
.contact-section * {
  box-sizing: border-box;
}
.contact-section {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.contact-me {
  text-align: center;
  position: relative;
  width: 345px;
}
.contact-me-text {
  color: #a5d7e8;
  font: var(--h-2, 700 37px/100% "Oswald", sans-serif);
}
.contact-me-plus {
  color: #576cbc;
  font: 700 27px/100% "Oswald", sans-serif;
}
.email {
  color: #c0c0c0;
  text-align: center;
  font: 700 87px/100% "Oswald", sans-serif;
  text-decoration: underline;
  position: relative;
  height: auto;
  width: auto;
}
.linked-in {
  color: #c0c0c0;
  text-align: center;
  font: 700 87px/100% "Oswald", sans-serif;
  text-decoration: underline;
  position: relative;
  height: auto;
  width: auto;
}

