* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Oswald";
  font-size: 12;
  color: white;
}
header {
  background-color: black;
  opacity: 80%;
}
header ::after {
  content: "";
  display: table;
  clear: both;
}
body {
  margin: 0;
  background-color: #222;
  font-weight: 300;
}
nav {
  float: right;
}
.navName {
  color: #fff;
  float: left;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 91.667%;
  padding-top: 25px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}
.navContainer {
  width: 80%;
  height: 64px;
  margin: 0 auto;
}
.container {
  display: grid;
  align-items: center; 
  justify-items: center;
  gap: 3px;
  grid-auto-flow: column;
}
.aboutParagraph {
  width: 525px;
  height: 163px;
  flex-shrink: 0;
  color: #c0c0c0;
  font-size: 20px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  line-height: 137.5%;
  background-color: rgba(0, 0, 0, 0);
}
title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.5%; /* 137.5% */
  text-transform: uppercase;
}
h2 {
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  text-transform: capitalize;
  position: relative;
  z-index: 10;
  display: block;
  font-size: 2em;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
}
h1 {
  color: #FFF;
  font-family: "Oswald";
  font-size: 87px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0);
}
.blueDot {
  color: #576CBC;
  font-size: 87px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0);
}
.scroll-button{
  color: #FFF;
  border-bottom: 2px solid #678691;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%; 
  text-decoration: none; 
}
.sidebox {
  position: relative;
  left: 108px;
  border: 220px;
  background-color: rgba(0, 0, 0, 0);
}
.aboutImage{
  width: 523px;
  height: 445px;
  flex-shrink: 0;
}
html {
  scroll-behavior: smooth;
}
