:root {
    /* Colors */
  
    /* Fonts */
    --body-text: 400 20px/27.5px "Oswald", sans-serif;
    --h-1-main-heading: 700 87px/100% "Oswald", sans-serif;
    --h-2: 700 37px/100% "Oswald", sans-serif;
  
    /* Effects */
  }
  